.App {
  text-align: center;
}


.temperature-holder{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  /*background: linear-gradient(to bottom, rgba(30,87,153,1) 0%,rgba(41,137,216,1) 50%,rgba(32,124,202,1) 51%,rgba(125,185,232,1) 100%);*/

}



canvas{
  position: fixed;
  top: 0;

  left:0;

  z-index: -10;
  width:100vw;
  height: 100vh;
  /*background-color: red;*/
  /*background: linear-gradient(to bottom, rgba(30,87,153,1) 0%,rgba(41,137,216,1) 50%,rgba(32,124,202,1) 51%,rgba(125,185,232,1) 100%);*/

}

.top-click{
  height: 10%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-around;

  border-bottom: 2px solid white;
}

.buttom-click{
  height: 10%;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: space-around;

  border-top: 2px solid white;
}
.temp-output{
  position: absolute;
  top: 40%;
  left: 45%;
  font-size: 42px;

}

ReactTouchEvents{
  border: 1px solid red;
  background: grey;
  width: 100vw;
  height:100vh;
}

.icon-up,
.icon-down{
  font-size: 36px;
  margin: 15px;
}

@media(max-height: 1000px){

  .icon-up,
  .icon-down{
    margin: 0;
  }
}